/* landing page */
.landing-page {
    background-image: url('../img/Hero.png');
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.header-ctn {
    display: flex;
    justify-content: center;
}

.header {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 0.1em;
    background-color: #3d3b50;
    color: #fff;
    padding: 8px 35px 8px 35px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23);
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 55px;
}

.hero-content-main {
    font-family: 'Pacifico', cursive;
    color: $secondary-color;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 0.2em;
    width: 500px;
}

.hero-content-main > i {
    color: $primary-color;
    margin: 0 0 0 12px;
}

.hero-content-sub {
    margin: 20px 0 0 50px;
}

.hero-content-sub-img {
    background: url('../img/arrow.svg');
    width: 40px;
    height: 40px;
}

.hero-content-sub-info {
    position: relative;
    bottom: 12px;
    left: 60px;
    font-size: 1.12em;
    color: #fff;
    letter-spacing: 0.16em;
    font-weight: bolder;
    font-stretch: expanded;
    background: $secondary-color;
    background-image: linear-gradient(to top, #333146, #36344a, #39374d, #3c3a51, #3f3d55);
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.19), 0 1px 5px rgba(0, 0, 0, 0.23);
    padding: 10px;
    border-radius: 5px;
}

.address-ctn {
    position: fixed;
    top: 47%;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.address-input {
    flex: 1 1 0;
    max-width: 500px;
    background: #fff;
    border: none;
    outline: none;
    padding: 7px 15px;
    margin: 0 0 0 50px;
    box-shadow: 15px 5px 20px rgba(0, 0, 0, 0.19), 20px 15px 20px rgba(0, 0, 0, 0.158);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.zoom-btn {
    background: $primary-color;
    color: #fff;
    margin: 0 50px 0 0;
    padding: 7px 12px;
    border: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.19);
}

.zoom-btn:hover {
    background: $secondary-color;
}

.zoom-btn:focus {
    outline: none;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 0;
    font-size: 0.9em;
    font-weight: 100;
}

.footer > i {
    color: #f53f64;
    margin: 0 5px;
}

/* landing page media queries */
@media screen and (max-width: 1366px) {
    .hero-content {
        top: 65px;
    }

    .address-ctn {
        top: 48%;
    }

    .header {
        font-size: 1.9em;
    }

    .hero-content-main {
        font-size: 2.75em;
    }

    .hero-content-sub-info {
        font-size: 1.15em;
    }
}

@media screen and (max-width: 900px) {
    .hero-content {
        top: 70px;
    }

    .address-ctn {
        top: 48%;
    }

    .header {
        font-size: 1.8em;
    }

    .hero-content-main {
        font-size: 2.4em;
    }

    .hero-content-sub-info {
        font-size: 1.05em;
    }
}

@media screen and (max-width: 600px) {
    .hero-content {
        top: 70px;
    }

    .address-ctn {
        top: 49%;
    }

    .header {
        font-size: 1.7em;
    }

    .hero-content-main {
        font-size: 2.3em;
    }

    .hero-content-sub-info {
        font-size: 1em;
    }
}

@media screen and (max-width: 460px) {
    .address-input {
        margin: 0 0 0 25px;
        padding: 5px 15px;
    }

    .zoom-btn {
        margin: 0 25px 0 0;
        padding: 5px 12px;
    }

    .hero-content {
        top: 50px;
        left: 25px;
    }

    .address-ctn {
        top: 48.5%;
    }

    .header {
        font-size: 1.5em;
    }

    .hero-content-main {
        font-size: 2.1em;
    }

    .hero-content-sub-info {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 390px) {
    .address-input {
        margin: 0 0 0 20px;
        padding: 5px 15px;
    }

    .zoom-btn {
        margin: 0 20px 0 0;
        padding: 5px 12px;
    }

    .hero-content {
        top: 45px;
        left: 20px;
    }

    .address-ctn {
        top: 49%;
    }

    .header {
        font-size: 1.3em;
    }

    .hero-content-main {
        font-size: 1.75em;
        width: 300px;
    }

    .hero-content-sub-info {
        font-size: 0.78em;
        padding: 9px;
    }

    .footer {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 350px) {
    .address-input {
        margin: 0 0 0 17px;
        padding: 5px 15px;
    }

    .zoom-btn {
        margin: 0 17px 0 0;
        padding: 5px 12px;
    }

    .hero-content {
        top: 45px;
        left: 17px;
    }

    .address-ctn {
        top: 49%;
    }

    .header {
        font-size: 1.25em;
    }

    .hero-content-main {
        font-size: 1.6em;
        width: 300px;
    }

    .hero-content-sub-info {
        font-size: 0.7em;
        padding: 9px;
    }

    .footer {
        font-size: 0.8em;
    }
}
