/* off canvas menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
}

#main {
    transition: margin-left 0.5s;
}

.nav-container {
    display: flex;
    align-items: center;
}

.open-nav {
    cursor: pointer;
    position: fixed;
    top: 47%;
    z-index: 5;
    border: 0;
    background: $secondary-color;
    padding: 9px;
    color: #fff;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 5px 11px -2px rgba(0, 0, 0, 0.18), 0 4px 12px -7px rgba(0, 0, 0, 0.15);
}

.open-nav > i {
    font-size: 1.27em;
    padding: 0 5px 0 0;
}

.open-nav:focus {
    outline: none;
}

.open-nav:hover {
    background: #4b4964;
}

.close-nav {
    display: block;
    text-decoration: none;
    padding: 25px 8px 8px 32px;
    transition: 0.3s;
}

.close-nav > i {
    font-size: 1.05em;
    color: #e92d53;
}

.close-nav > i:hover {
    color: #fa4f72;
}

.direction-ctn {
    font-size: 0.85em;
    margin: 0 15px 30px 15px;
    letter-spacing: 0.3px;
}

.direction-para {
    text-align: center;
}
