html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.container {
    height: 100%;
}

.heading {
    text-align: center;
    background: rgb(230, 230, 230);
}

.main {
    display: flex;
    height: calc(100vh - 2.4vh);
}

.main-content {
    width: 400px;
    background: rgb(255, 255, 255);
}

.map-container {
    flex: 1 1 0;
}

li {
    list-style-type: none;
}

.info-main {
    max-width: 380px;
    font-size: 1.03em;
    letter-spacing: 0.03em;
    margin: 8px 7px 8px 9px;
}

.info-head {
    text-align: center;
    font-weight: bold;
    font-size: 1.15em;
    padding: 0 0 12px 0;
}

.info-address {
    text-align: justify;
    margin: 0 0 5px 0;
}

.info-address > span {
    font-weight: 500;
}

.info-phn {
    margin: 0 0 8px 0;
}

.info-phn > span {
    font-weight: 500;
}

.info-star {
    font-size: 1.15em;
    margin: 0 0 5px 0;
    font-weight: bold;
}

.info-star > li {
    display: inline-block;
    color: #7447df;
    margin: 0 0 5px 5px;
}

.info-review {
    text-align: center;
    font-style: italic;
    margin: 0 0 10px 0;
}

.info-link {
    font-style: normal;
    padding: 0 0 0 6px;
}

.info-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-img-container > button {
    display: inline-block;
    border: 0;
    border-radius: 50%;
    color: #7447df;
    background: #fff;
    box-shadow: 4px 2px 7px 0 rgba(0, 0, 0, 0.185);
    font-size: 1.3em;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}

.info-img-container > button:hover {
    background: #7447df;
    color: white;
}

.info-img-container > button:focus {
    outline: none;
}

.info-img-next > li {
    font-size: 0.8em;
    text-align: center;
    margin: 5px 1.5px 5px 4.5px;
}

.info-img-prev > li {
    font-size: 0.8em;
    text-align: center;
    margin: 5px 4.5px 5px 1.5px;
}

.info-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.info-btns > button {
    background: #7447df;
    color: white;
    border: 0;
    margin: 20px 0 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 15px;
}

.info-btns > button:hover {
    background: #8856ff;
}

.info-btns > button:focus {
    outline: none;
}

.street-main {
    letter-spacing: 0.03em;
    margin: 0 2px 5px 7px;
}

.street-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.street-head {
    font-weight: bold;
    font-size: 1.15em;
    margin: 0 0 8px 0;
    max-width: 360px;
    text-align: center;
}

.back-btn {
    border: 0;
    font-size: 1.15em;
    padding: 10px;
    margin: 0 0 8px 0;
    cursor: pointer;
    color: #7447df;
    background: #fff;
}

.back-btn:hover {
    color: #9668ff;
}

.back-btn:focus {
    outline: none;
}

.street-info {
    margin: 0 0 10px 0;
}

#pano {
    width: 380px;
    height: 200px;
    border-radius: 5px;
}
